.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  align-items: center;
}

@media (max-width: 116em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 87em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 58em) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
