.card {
  padding: 3rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 48rem;
  height: 48rem;
  justify-self: center;
  align-self: center;
}

.card:first-letter {
  text-transform: uppercase;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
  margin-bottom: 1rem;
  height: 40%;
  overflow-y: auto;
}

.card .tag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem;
}

.card span {
  color: inherit;
  border: 1px solid;
  border-radius: 3rem;
  padding: 0.1rem 1rem;
}

.card p {
  padding: 3rem;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card button {
  background-color: transparent;
  border: none;
}

.card .actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  margin: 1.5rem;
}

.card .actions svg {
  pointer-events: none;
}

.card .icons {
  color: #cf711f;
}

/************************/
/* QUERIES */
/************************/

@media (max-width: 116em) {
  .card {
    width: 44rem;
    height: 44rem;
  }
}

@media (max-width: 87em) {
  .card {
    width: 36rem;
    height: 40rem;
  }
}

@media (max-width: 58em) {
  .card {
    width: 32rem;
    height: 40rem;
  }
}
