.card {
  padding: 3rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 48rem;
  height: 48rem;
  justify-self: center;
  align-self: center;
}

.card:first-letter {
  text-transform: uppercase;
}

.card h2 {
  color: inherit;
  margin-bottom: 1rem;
  text-align: center;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem;
}

.card span {
  color: inherit;
}

.card p {
  padding: 3rem;
  color: inherit;
  height: 50%;
  overflow-y: auto;
}

/************************/
/* QUERIES */
/************************/

@media (max-width: 116em) {
  .card {
    width: 44rem;
    height: 44rem;
  }
}

@media (max-width: 87em) {
  .card {
    width: 36rem;
    height: 36rem;
  }
}

@media (max-width: 58em) {
  .card {
    width: 32rem;
    height: 32rem;
  }
}
